*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}
main{
    height: 100vh;
}
main, .flex-msg, .flex-date-msg, .header{
    display: flex;
}
.lateral{
    width: 20em;
    background-color: rgb(53, 87, 151);
}
.lateral div{
 padding: 10px;
}

.header>h1{
    font-weight: bold;
    color: white;
    font-size: 20px;
    width: 100%;
}
#notification-alert{
    padding: 0;
    float: right;
    margin-right: 10px;
}
.section{
    color: rgb(216, 216, 216);
    font-size: 16px;
}
#add-channel, #add-user{
    float: right;
    margin-right: 10px;
}
.list{
    color: rgb(216, 216, 216);
    font-size: 16px;
    margin-left: 5px;
}
.list p{
    cursor: pointer;
    margin: 3px 0;
}
#status{
    color: rgb(216, 216, 216);
    font-size: 16px;
}
#your-status{
    color: greenyellow;
    font-size: 10px;
    margin:auto 0;

}
i{
    cursor: pointer;
}

/* ESTILOS PARTE CENTRAL */
.center{
    width: 100vw;
    padding: 10px;
    background-color: rgb(95, 95, 95);
}
.msg-screen{
    max-height: 80vh;
    color: white;
    overflow: scroll;
}
.banner-info{
    margin: 20px;
    color: white;
}
#profile-msg{
    width: 100px;
    height: 100px;
    margin-right: 10px;
    border-radius: 5px;
}

.details-msg{
    margin: auto 0;
}
.msg{
    background-color: grey;
    border-radius: 5px;
    padding: 10px;
    margin: 20px 10px;
}
#username-msg, #content-msg, #date-msg{
    padding: 5px 0;
}
#date-msg{
    color: rgb(214, 214, 214);
    font-size: small;
    margin-left: 10px;
    align-self: end;
}
#username-msg{
    font-weight: bold;
}
.ipt-box{
    margin: 20px 0;
}
#ipt-new-msg{
    width: calc(100% - 1em - 20px);
    padding: 1em;
    border-radius: 5px;
}
.chat-descript{
    color: rgb(214, 214, 214);
}
#ipt-search-msg{
    border: 0;
    border-radius: 100px;
    float: right;
    padding: 5px;
}

